html {
    background-color: #f0f0f0;
}
#app {
    font-family: Gerb;
    
}

.landing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr)
}
.title {
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
}
.title-list {
    list-style-type: none;
    grid-column: 1;
    grid-row: 2;
    font-weight: bold;
    margin-left: 20px;
   
    
}
.login {
    display: grid;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    grid-column: 2;
    grid-row: 3;
    box-sizing: border-box;
    border: 2px solid black;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 7%;
}
.login-email-input {
    grid-column: 1;
    grid-row: 1;
    height: 15px;
    width: 100px;
    margin: auto;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 10%;

}
.login-password-input {
    grid-column: 3;
    grid-row: 1;
    height: 15px;
    width: 100px;
    margin: auto;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    text-align: center;
}

.login-button {
    grid-column: 2;
    grid-row: 2;
    height: 30px;
    border: 2px solid black;
    border-radius: 10%;
}
.login-pTag {
    grid-column: 2;
    grid-row: 3;
}
.login-sign-up-button {
    grid-column: 2;
    grid-row: 4;
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 10%;
}

.sign-up {
    display: grid;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    box-sizing: border-box;
    border: 2px solid black;
    width: 300px;
    height: 300px;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
}
.search-bar {
    height: 20px;
    width: 200px;
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    
}
.sign-out {
    float: right;
}
.posts {
    display: grid;
    text-align: center;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr 0.7fr 3.1fr;
    box-sizing: border-box;
    border: 1px solid black;
    height: 10%
    
}
.posts-title {
    grid-column: 2;
    grid-row: 1;
}
.posts-description {
    grid-row: 2; 
    grid-column: 2;
}
.posts-img {
    grid-row: 2;
    grid-column: 1;
    height: 150px;
    width: 150px;
    margin-left: 2px;
}
.category-section {
  box-sizing: border-box;
  border: 2px solid black;
  text-align: center;
}
.home {
   
}
.home-main {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 2.1fr;
    gap: 0px 8px;
}
.profile-nav-bar {
    display: flex;
}